*{
    padding: 0%;
    margin: 0%;
}

.con{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                          'header header header header'
                           'section section section section'
                           'article article article article'
                           'footer footer footer footer';
                           grid-gap: 21px;
                        }
:root{
    --text-color:rgb(253, 247, 247);
    --body-color:hsl(90, 3%, 86%);

}
body{
    background-color: var(--body-color);
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    background-image: url(news.jpg);

}
.nav{
    grid-area: nav;
    display: flex;
    justify-content:space-around;
    /* background-color: white; */
    background-image: url(news.jpg);
    
    

}
.img1 img{
    width:60px;

}
a{
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    color: white;
}
.h1H{
color: var(--text-color);
font-size: x-large ;
}
.li1{
    border-style: inset;
     background-color: red;
}
.li2{
    border-style: inset;
background-color: rgb(20, 11, 11);
    background-color:rgb(20, 11, 11) ;
    color: white;
}
.header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-image: url(hdpho.jpg);
    opacity: 0.8;
    height: 81vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header h1,p{
    color: var(--text-color);
}

.section{
    grid-area: section;
}
.footer{
    grid-area: footer;
}
.textHeder{
    width: 30%;
    height: 50%;
    position: absolute;
    top: 100px;
}
.section{
    background-image: url(news.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footbal{
    color: var(--text-color);
    border-style: inset;
    background-color: rgb(7, 5, 5);
    width: 36%;
    height: auto;
    opacity: 0.7;

}
.article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
width: 93vw;

}
.bigpic{
    width: 1015px;
    height: 549px;
    /* background-color: red; */
    background-image: url(pho1.jpg);

    border-style: inset;
    animation: pic 8s linear;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out

}
@keyframes pic{
    0%{
        background-image: url(pho1.jpg)
    }
    25%{
        background-image: url(pho2.jpg);
    }
    50%{
        background-image: url(pho3.jpg);
    }
    100%{
        background-image: url(pho4.jpg);
    }
}
.footer{
    background-color: #43515c;
color: var(--text-color);
}
.end{
    
}